In [3]:
import blpapi
from xbbg import blp

In [2]:
print(blpapi.__version__)

3.17.1

In [4]:
blp.bdp(tickers='NVDA US Equity', flds=['Security_Name', 'GICS_Sector_Name'])

               security_name        gics_sector_name
NVDA US Equity   NVIDIA Corp  Information Technology

In [5]:
blp.bdp('AAPL US Equity', 'Eqy_Weighted_Avg_Px', VWAP_Dt='20181224')

Empty DataFrame
Columns: []
Index: []

In [6]:
blp.bdh(tickers='SPX Index', flds=['High', 'Low', 'Last_Price'],start_date='2018-10-10', end_date='2018-10-20',)

           SPX Index
                High      Low Last_Price
2018-10-10   2874.02  2784.86    2785.68
2018-10-11   2795.14  2710.51    2728.37
2018-10-12   2775.77  2729.44    2767.13
2018-10-15   2775.99  2749.03    2750.79
2018-10-16   2813.46  2766.91    2809.92
2018-10-17   2816.94  2781.81    2809.21
2018-10-18   2806.04  2755.18    2768.78
2018-10-19   2797.77  2760.27    2767.78

In [7]:
s_options = blpapi.SessionOptions()
s_options.setServerHost('localhost')
s_options.setServerPort(8194)
s_options.setAutoRestartOnDisconnection(True)

session = blpapi.Session(s_options)

In [1]:
from PyQt5 import QtWidgets
from PyQt5.QtWidgets import QApplication, QMainWindow
import sys

In [ ]:
def window():
    app = QApplication(sys.argv)
    win = QMainWindow()
    xpos = 200
    ypos = 200
    width = 300
    height = 300
    win.setGeometry(xpos, ypos, width, height)
    win.setWindowTitle("Fort Baker Capital Management")

    win.show()
    sys.exit(app.exec_()) # waiting to exit