## Note: this file is to test the anomaly detection engine

In [1]:
# First import
import os, sys
import warnings
warnings.filterwarnings("ignore")

# project_dir = os.path.realpath(os.path.join(os.getcwd(), '..','..','..','..'))
# data_dir = os.path.join(project_dir, 'ORATS','parquet')
# data_clean_dir = os.path.join(project_dir, 'repository','utils')

# sys.path.append(data_clean_dir)
print("First import completed.")

First import completed.

In [2]:
# Second import
from read_option_data import *
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')

print("Second import completed.")

Second import completed.

In [3]:

# Setup config
data_dir = 'D:\\Git Repository\\_local_data_\\DLW\\Orats\\'
print("Config setup is completed.")

Config setup is completed.

### Read data from AWS RDS

In [ ]:
# import mysql.connector
# import pandas as pd
# from sqlalchemy import create_engine

# db_connection = mysql.connector.connect(
#     host="wjweb.c5ax87iajl4c.us-east-2.rds.amazonaws.com",
#     user="admin",
#     passwd="Wooji1234",
#     database='wj_Option'
#     )
# db_cursor = db_connection.cursor()

# sqlEngine = create_engine('mysql+pymysql://{user}:{pw}@wjweb.c5ax87iajl4c.us-east-2.rds.amazonaws.com:3306/{db}'.format(user='admin', pw='Wooji1234',db='wj_Option'))

# sql = """select * from Orats_data \
# where ticker='TSLA' and trade_date between '2021-05-03' and '2021-05-06' \
# """

# dfs = []
# for chunk in pd.read_sql(sql, con=sqlEngine, chunksize=2000):
# 	dfs.append(chunk)
# df = pd.concat(dfs).reset_index(drop=True)

# Old way to read in TSLA data

In [6]:
start_date = '20210712'
end_date = '20210716'
optionsdata = readMultiDay(data_dir, start_date, end_date, ticker=['TSLA'])

20210712 done!
20210713 done!
20210714 done!
20210715 done!
20210716 done!

In [7]:
optionsdata.head()

,underlying,underlying_last,optionroot,type,expiration,quotedate,strike,last,bid,ask,volume,openinterest,impliedvol,delta,gamma,theta,vega,dte
0,TSLA,684.33,TSLA160721C050,call,2021-07-16,2021-07-12,50.0,634.33,634.10,634.50,6,12,0.00000,1.0,0.0,-0.001184,0.00001,4
1,TSLA,684.33,TSLA160721C0100,call,2021-07-16,2021-07-12,100.0,584.34,583.80,584.60,12,32,0.00000,1.0,0.0,-0.002369,0.00001,4
2,TSLA,684.33,TSLA160721C0150,call,2021-07-16,2021-07-12,150.0,534.34,533.90,534.50,4,93,0.00000,1.0,0.0,-0.003553,0.00001,4
3,TSLA,684.33,TSLA160721C0200,call,2021-07-16,2021-07-12,200.0,484.35,484.05,484.65,2,56,0.00000,1.0,0.0,-0.004738,0.00001,4
4,TSLA,684.33,TSLA160721C0250,call,2021-07-16,2021-07-12,250.0,434.35,434.05,434.55,2,40,1.82524,1.0,0.0,-0.005922,0.00001,4

In [ ]:
def monthly_contract(df):
    """
    return 3 types of monthly contract: expire in current/next/3rd month
    """
    expiration, quotedate = df['expiration'], df['quotedate']
    expr_month = expiration.dt.year * 12 + expiration.dt.month
    quote_month = quotedate.dt.year * 12 + quotedate.dt.month
    
    third_friday = (expiration.dt.day >=15) & (expiration.dt.day <= 21) & (expiration.dt.weekday == 4)
    cur_month_expr =  expr_month == quote_month
    next_month_expr = expr_month - quote_month == 1
    third_month_expr = expr_month - quote_month == 2

    return df[third_friday&cur_month_expr], df[third_friday&next_month_expr], df[third_friday&third_month_expr]

def integer_strike_contract(df):
    """
    return contract whose strike is multiple of 10
    """
    strike = df['strike']
    int_strike = strike % 10 == 0

    return df[int_strike]

def plot_by_moneyness(df, atm_delta=[0.4,0.6], otm_delta=0.4, itm_delta=0.6, _type='call', 
                      groupby='strike', variable = ['impliedvol','volume','openinterest'], style='scatter',title='None'):
    """
    plot n*3 graphs, n variables * 3 moneyness
    """
    moneyness = ['atm','otm','itm']
    option = df[df['type']==_type]
    delta = option['delta']
    atm = option[(abs(delta) >= atm_delta[0]) & (abs(delta) <= atm_delta[1])]
    otm = option[abs(delta) < otm_delta]
    itm = option[abs(delta) > itm_delta]
    grouped0 = atm.groupby(groupby).mean()
    grouped1 = otm.groupby(groupby).mean()
    grouped2 = itm.groupby(groupby).mean()
    
    row, col = len(variable), len(moneyness)
    fig = plt.figure(figsize=(24,row*6)) 
    fig.suptitle(title, fontsize=14,y=0.95)
    for r in range(row):
        for c in range(col):
            i = r*col + c + 1
            ax = fig.add_subplot(row, col, i)
            if c==0:
                y = grouped0[variable[r]]
                x = grouped0.index
                if style == 'scatter':
                    a = ax.scatter(x,y,c=grouped0['delta'],marker='+',cmap='viridis')
                    fig.colorbar(a, ax=ax, pad=0.1)
                if style == 'ts':
                    ax.plot(x,y,c='y')
                if groupby=='quotedate':
                    ax1 = ax.twinx()
                    ax1.plot(grouped0['underlying_last'], c='r')
                ax.set_title(variable[r]+' atm')
                ax.set(xlabel=groupby, ylabel=variable[r])
                
            if c==1:
                y = grouped1[variable[r]]
                x = grouped1[variable[r]].index
                if style == 'scatter':
                    a = ax.scatter(x,y,c=grouped1['delta'],alpha=0.5,cmap='viridis')
                    fig.colorbar(a, ax=ax, pad=0.1)
                if style == 'ts':
                    ax.plot(x,y)
                if groupby=='quotedate':
                    ax1 = ax.twinx()
                    ax1.plot(grouped1['underlying_last'], c='r')
                ax.set_title(variable[r]+' otm')
                ax.set(xlabel=groupby, ylabel=variable[r])
                
            if c==2:
                y = grouped2[variable[r]]
                x = grouped2[variable[r]].index
                if style == 'scatter':
                    a = ax.scatter(x,y,c=grouped2['delta'],marker='x',cmap='viridis')
                    fig.colorbar(a, ax=ax, pad=0.1)
                if style == 'ts':
                    ax.plot(x,y,c='g')
                if groupby=='quotedate':
                    ax1 = ax.twinx()
                    ax1.plot(grouped2['underlying_last'], c='r')
                ax.set_title(variable[r]+' itm')
                ax.set(xlabel=groupby, ylabel=variable[r])

In [ ]:
cur_month, next_month, third_month = monthly_contract(optiondata)

# Current monthly call

In [ ]:
#monthly contract expiring in current month
title = "TSLA current monthly Call's IV, Vol, OI goup by moneyness"
plot_by_moneyness(cur_month, _type='call', groupby='quotedate', 
                  variable = ['impliedvol','volume','openinterest'],style='scatter', title=title)

In [ ]:
#monthly contract expiring in current month
title = "TSLA current monthly Call's IV, Vol, OI goup by moneyness"
plot_by_moneyness(cur_month, _type='call', groupby='quotedate', 
                  variable = ['impliedvol','volume','openinterest'],style='ts', title=title)

# Current monthly put

In [ ]:
#monthly contract expiring in current month
title = "TSLA current monthly Put's IV, Vol, OI goup by moneyness"
plot_by_moneyness(cur_month, _type='put', groupby='quotedate', 
                  variable = ['impliedvol','volume','openinterest'],style='scatter', title=title)

# Next monthly call

In [ ]:
#monthly contract expiring in next month
title = "TSLA next monthly Call's IV, Vol, OI goup by moneyness"
plot_by_moneyness(next_month, _type='call', groupby='quotedate', 
                  variable = ['impliedvol','volume','openinterest'],style='scatter', title=title)

# Next monthly put

In [ ]:
#monthly contract expiring in next month
title = "TSLA next monthly Put's IV, Vol, OI goup by moneyness"
plot_by_moneyness(next_month, _type='put', groupby='quotedate', 
                  variable = ['impliedvol','volume','openinterest'],style='scatter', title=title)

# Third monthly call

In [ ]:
#monthly contract expiring in next month
title = "TSLA third monthly Call's IV, Vol, OI goup by moneyness"
plot_by_moneyness(third_month, _type='call', groupby='quotedate', 
                  variable = ['impliedvol','volume','openinterest'],style='scatter', title=title)

# Third monthly put

In [ ]:
#monthly contract expiring in next month
title = "TSLA third monthly Call's IV, Vol, OI goup by moneyness"
plot_by_moneyness(third_month, _type='put', groupby='quotedate', 
                  variable = ['impliedvol','volume','openinterest'],style='scatter', title=title)

# Integer contract grouped by strike

In [ ]:
int_contract = integer_strike_contract(optiondata)

In [ ]:
title = "TSLA integer Call's Vol group by strike"
plot_by_moneyness(int_contract, atm_delta=[0.4,0.6], otm_delta=0.15, itm_delta=0.6, _type='call', 
                      groupby='strike', variable = ['volume'], style='scatter', title=title)

In [ ]:
title = "TSLA integer Put's Vol group by strike"
plot_by_moneyness(int_contract, atm_delta=[0.4,0.6], otm_delta=0.15, itm_delta=0.6, _type='put', 
                      groupby='strike', variable = ['volume'], style='scatter', title=title)